<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registrar un producto</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>nombre: </label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="producto.nombre"
        name="nombre"
      />
    </div>

    <div class="form-group">
      <label>descripcion: </label>
      <input
        class="form-control"
        type="text"
        id="descripcion"
        [(ngModel)]="producto.descripcion"
        name="descripcion"
      />
    </div>

    <div class="form-group">
      <label>cantidad: </label>
      <input
        class="form-control"
        type="number"
        id="cantidad"
        [(ngModel)]="producto.cantidad"
        name="cantidad"
      />
    </div>

    <div class="form-group">
      <label>unidad: </label>
      <input
        class="form-control"
        type="text"
        id="unidad"
        [(ngModel)]="producto.unidad"
        name="unidad"
      />
    </div>

    <button class="btn btn-success">Guardar</button>
  </form>
</div>
