<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de usuario</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre: </label><input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre">
            <label>Apellido: </label><input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.apellido" name="apellido">
            <label>Email: </label><input type="email" class="form-control" id="nombre" [(ngModel)]="usuario.email" name="email">
            <label>Edad: </label><input type="number" class="form-control" id="nombre" [(ngModel)]="usuario.edad" name="edad">
        </div>
        <button class="btn btn-success" style="margin-top: 20px;">Guardar</button>
    </form>
</div>